body {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url(/images/camo.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;
  color: navy;
}

form{
  text-align: left;
  color: black;
}

h1 {
  font-family: 'Bree Serif', serif;
  color: black;
  text-shadow: 3px 3px midnightblue;
}
.btn{
  background-color: midnightblue;
}

.waves-effect.waves-light{
   /* The alpha value allows the text and background color
   of the button to still show through. */
    background-color: rgba(0, 0, 139, 0.65);
  }

label{
  margin-left: 20px;
}
