body {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url(/images/camo.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;
  color: navy;
}

form{
  text-align: left;
  color: black;
}

h1 {
  font-family: 'Bree Serif', serif;
  color: black;
  text-shadow: 3px 3px midnightblue;
}

a {
  cursor: pointer;
  color: black;
}

.edit-icon {
  display: inline;
}

.edit-form{
  padding-left: 27%;
  padding-right: 27%;
  padding-bottom: 3%;
}

h5 {
  display: inline;
  font-size: 18px;
}
.btn{
  background-color: midnightblue;
}

.waves-effect.waves-light{
    background-color: rgba(0, 0, 139, 0.65);
  }

/* label color */
.input-field label {
   margin-left: 20px;
   color: midnightblue;
 }
 /* label focus color */
.input-field input[type=text]:focus + label {
   color: midnightblue;
 }
 /* label underline focus color */
.input-field input[type=text]:focus {
   border-bottom: 1px solid midnightblue;
   box-shadow: 0 1px 0 0 black;
 }
 /* valid color */
.input-field input[type=text].valid {
   border-bottom: 1px solid midnightblue;
   box-shadow: 0 1px 0 0 black;
 }
 /* invalid color */
.input-field input[type=text].invalid {
   border-bottom: 1px solid midnightblue;
   box-shadow: 0 1px 0 0 black;
 }
 /* icon prefix focus color */
.input-field .prefix.active {
   color: midnightblue;
 }

 label {
  margin-left: 20px;
   color: black;
 }
