<!DOCTYPE html>
<html ng-app="Jobs">
  <head>
    <title>Job Hunt</title>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel='stylesheet' href='/css/styles.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="/javascripts/services/jobsAPI.js" charset="utf-8"></script>
    <script src="/javascripts/controllers/job_controller.js" charset="utf-8"></script>
    <script src="/javascripts/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="JobController">
      <h1>{{ title }}</h1>

      <a class=" modal-trigger" href="#new-job-modal">
        <img src="./images/target.png">
      </a>
      <p>[click target to add a job]</p>

      <!-- Modal Structure -->
      <div id="new-job-modal" class="modal">
        <div class="modal-content">
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input id="company" type="text" class="validate" ng-model="job.company">
                <label for="company">Company</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="position" type="text" class="validate" ng-model="job.position">
                <label for="position">Position</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="url" type="text" class="validate" ng-model="job.url">
                <label for="url">URL</label>
              </div>
            </div>
            <p>
              <input type="checkbox" id="applied-checkbox" ng-model="job.applied" />
              <label for="applied-checkbox">Applied?    </label>
              <input type="checkbox" id="interview-checkbox" ng-model="job.interview" />
              <label for="interview-checkbox">Interview?</label>
            </p>
        </div>
        <div class="modal-footer">
          <input type="submit" class=" modal-action modal-close btn-flat" ng-click="saveJob(job)" value="ADD JOB">
          <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
        </div>
        </form>
      </div>

      <div class="container">
        <span class="job" ng-repeat="job in jobs">
          <h5><a ng-click="deleteJob(job)">X  </a>{{ job.company }}: {{ job.position }}, {{ job.url }} </h5>
          <a ng-click="editForm = !editForm">
            <img src="./images/edit.png" style="width:15px;height:15px;border:0;" class="edit-icon">
          </a>
          <p>Applied: {{ job.applied }}, Interview: {{ job.interview }}</p>
          <!-- <button type="button" name="button" ng-click="editForm = !editForm" class="waves-effect waves-light btn">EDIT</button>
          <button type="button" name="button" ng-click="deleteJob(job)" class="waves-effect waves-light btn">DELETE</button> -->
          <div class="edit-form" ng-show="editForm">
            <form>
              <div class="row">
                <div class="input-field col s12">
                  <input id="company" type="text" class="validate" ng-model="job.company">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="position" type="text" class="validate" ng-model="job.position">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="url" type="text" class="validate" ng-model="job.url">
                </div>
              </div>
              <p>
                <input type="checkbox" id="applied-checkbox" ng-model="job.applied"/>
                <label for="applied-checkbox">Applied?</label>
                <input type="checkbox" id="interview-checkbox" ng-model="job.interview"/>
                <label for="interview-checkbox">Interview?</label>
              </p>
          <div class="modal-footer">
            <input type="submit" ng-click="updateJob(job); editForm = !editForm" class="waves-effect waves-light btn" value="UPDATE">
            <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
          </div>
          </form>
        </div>
        </span>
      </div>
  </body>
</html>
